<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>servlet1</servlet-name>
		<servlet-class>com.ems.servlets.SaveEmpData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet1</servlet-name>
		<url-pattern>/saved</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servlet2</servlet-name>
		<servlet-class>com.ems.servlets.SaveResponseData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet2</servlet-name>
		<url-pattern>/UserSave</url-pattern>
	</servlet-mapping>
</web-app>
 